<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Magic Articles from the Mothership</title>
		<link rel="stylesheet" href="assets/cs/style.css" type="text/css" />
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src='assets/js/app.js'></script>
	</head>
	<body>
		{{{ body }}}
	</body>
	
</html>
